
<footer class="footer bg-dark text-white text-center py-3 mb-0">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h5>About Us</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque.</p>
            </div>
            <div class="col-md-6">
                <h5>Where you can reach me</h5>
                <ul class="list-unstyled d-flex flex-column">
                    <li><a href="" target="_blank" class="link-underline link-underline-opacity-0 link-light"><i class="fa-brands fa-instagram me-2"></i>Instagram</a></li>
                    <li><a href="" target="_blank" class="link-underline link-underline-opacity-0 link-light"><i class="fa-solid fa-envelope me-2"></i>Email</a></li>
                    <li><a href="" target="_blank" class="link-underline link-underline-opacity-0 link-light"><i class="fa-brands fa-github me-2"></i>Github</a></li>
                    <li><a href="" target="_blank" class="link-underline link-underline-opacity-0 link-light"><i class="fa-brands fa-linkedin-in me-2"></i>LinkedIn</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="text-white">&copy; 2022 My Website. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>
