{% extends 'main.html' %}

{% block content %}
<div id="main" class="container mb-4">
    <div class="row">
        <div class="col-md-3">
            <h2><i class="fa-solid fa-list me-2"></i>Sort by Categories</h2>
            <div class="list-group">
                <a href="{% url 'index' %}" class="list-group-item list-group-item-action">All</a>
                {% for category in categories %}
                    <a href="{% url 'index' %}?q={{category.name}}" class="list-group-item list-group-item-action">{{category.name}}</a>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-9 mt-3">
            {% for post in posts %}
                <div class="card mb-3">
                    <div class="card-body">
                        <h2 class="card-title"><a href="{% url 'post_details' post.id %}">{{post.title}}</a></h2>
                        <p class="card-subtitle mb-2 text-muted">   User: 
                            <a href="{% url 'user_profile' post.host.username %}" class="text-primary">
                                <img {% if post.host.profile_photo %} src="{{ post.host.profile_photo.url }}"{% else %} src="/media/default.png" {% endif %} alt="Profile Picture" style="width: 30px; height: 30px; border-radius: 50%;">
                                {{post.host}}
                            </a>
                        </p>
                        <p class="card-text">Category: {{post.category}}</p>
                        
                        <div class="dropdown">
                            <button class="btn btn-secondary" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-ellipsis"></i>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" id="share-button" data-url="{% url 'post_details' post.id %}"><i class="fa-solid fa-share me-2"></i>Share</a>
                            </div>
                        </div>     
                    </div>
                </div>
                
            {% endfor %}
            <nav>
                <ul class="pagination justify-content-center">
                    {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?{% if request.GET.q %}q={{ request.GET.q }}&{% endif %}page=1">&laquo; first</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?{% if request.GET.q %}q={{ request.GET.q }}&{% endif %}page={{ page_obj.previous_page_number }}">previous</a>
                        </li>
                    {% endif %}
                    <li class="page-item disabled">
                        <span class="page-link">
                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                        </span>
                    </li>
                    {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?{% if request.GET.q %}q={{request.GET.q}}&{% endif %}page={{ page_obj.next_page_number }}">next</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?{% if request.GET.q %}q={{request.GET.q}}&{% endif %}page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
</div>

<script>
    document.getElementById('share-button').addEventListener('click', function(event) {
        event.preventDefault();
        const url = this.getAttribute('data-url');
        navigator.clipboard.writeText(url);
        alert('Copied to clipboard!');
      });
</script>

{% endblock content %}